/**@media (max-width:1000px) {
    #cardid{
    height:300px;

    }
  }
*/
 
  
  
@media (min-width:1000px) {
    #cardid{
    margin-top:90px;

    }
  }

  @media (max-width:1000px) {
    #cardid{
    margin-top:50px;

    }
  }

  @media (max-width:1000px) {
    #cardid{
       height:415px;
    }
  }

  @media (min-width:1000px) {
    #cardid{
       height:435px;
    }
  }